= render 'devise/shared/signup_omniauth_provider_list',
  providers: popular_enabled_button_based_providers,
  trial: true,
  tracking_label: ::Onboarding::Status.tracking_label[:trial]
.omniauth-divider.gl-display-flex.gl-align-items-center
  = _("or")
